{% extends '../dashboard.html' %}
{% load static %}

{% block title %}Compras{% endblock %}

{% block styles %}
<link href="{% static 'css/catalogo.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="title">Compras</h1>
<p class="description">Historial de órdenes pagadas ({{totalOrdenes}} en total)</p>
<div class="card shadow">
    <div class="card-body">
    {% if ordenes_page %}
        <ul class="list-group">
            <li class="list-group-item articulo heading">
                <div class="container-fluid">
                    <div class="row d-flex flex-row align-items-center">
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Número de orden</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Cliente</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Monto Total</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Última actualización</p>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <p>Acciones</p>
                        </div>
                    </div>
                </div>
            </li>
            {% for orden in ordenes_page %}
            <li class="list-group-item articulo">
                <div class="container-fluid">
                    <div class="row d-flex flex-row align-items-center">
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{orden.numeroOrden}}</span>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            {% with orden.cliente_set.all|first as cliente %}
                            {% if cliente.nombre == '' %}
                            <span>-</span>
                            {% else %}
                            <span>{{cliente.nombre}}</span>
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{currencySymbol}} {{orden.total|floatformat:"2g"}}</span>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{orden.fechaActualizacion|date:'d/m/Y'}}</span>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <p>
                                <a href="{% url 'orden' orden.id %}" class="accion">
                                    <i class="bi bi-eye-fill"></i>
                                    <span>Ver orden</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if ordenes_page.has_other_pages %}
        <div class="btn-group mt-4" role="group" aria-label="Item pagination">
            {% if ordenes_page.has_previous %}
                <a href="?page={{ ordenes_page.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
            {% endif %}

            {% for page_number in ordenes_page.paginator.page_range %}
                {% if ordenes_page.number == page_number %}
                    <button class="btn btn-outline-primary active">
                        <span>{{ page_number }}</span>
                    </button>
                {% else %}
                    <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                        {{ page_number }}
                    </a>
                {% endif %}
            {% endfor %}

            {% if ordenes_page.has_next %}
                <a href="?page={{ ordenes_page.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}
    {% else %}
        <p>No se encontraron órdenes pagadas.</p>
    {% endif %}
    </div>
</div>
{% endblock %}