{% extends '../dashboard.html' %}
{% load static %}

{% block title %}Compras{% endblock %}

{% block styles %}
<link href="{% static 'css/catalogo.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="title">Compras</h1>
<p class="description">Historial de órdenes pagadas ({{totalOrdenes}} en total)</p>
<div class="card shadow">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item articulo heading">
                <div class="container-fluid">
                    <div class="row d-flex flex-row align-items-center">
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Número de orden</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Cliente</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Monto ({{currencySymbol}})</p>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <p>Última actualización</p>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <p>Acciones</p>
                        </div>
                    </div>
                </div>
            </li>
        {% for orden in ordenes %}
            <li class="list-group-item articulo">
                <div class="container-fluid">
                    <div class="row d-flex flex-row align-items-center">
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{orden.numeroOrden}}</span>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            {% with orden.cliente_set.all|first as cliente %}
                            {% if cliente.nombre == '' %}
                            <span>-</span>
                            {% else %}
                            <span>{{cliente.nombre}}</span>
                            {% endif %}
                            {% endwith %}
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{currencySymbol}} {{orden.total|floatformat:"2g"}}</span>
                        </div>
                        <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                            <span>{{orden.fechaActualizacion|date:'d/m/Y'}}</span>
                        </div>
                        <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                            <p>
                                <a href="{% url 'orden' orden.id %}" class="accion">
                                    <i class="bi bi-eye-fill"></i>
                                    <span>Ver orden</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}