.card {
    margin: 30px 20px;
    padding: 15px 20px;
}
.title {
    font-size: 2rem;
    margin: 30px 20px 10px;
}
.subtitle {
    font-size: 1.3em;
    font-weight: 500;
}
.description {
    margin: 0 20px 10px;
}
img, .default-image {
    padding: 10px;
    max-width: 120px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}
.articulo {
    padding: 10px 0;
}
.articulo p {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}
.articulo span {
    font-size: 1em;
}
.heading {
    background-color: #004A97;
    color: #fff;
    padding: 15px 0px;
}
.accion {
    text-decoration: none;
    display: flex;
    column-gap: 6px;
    font-size: 1.1em;
    align-items: center;
}
.back-btn {
    margin: 10px 20px 20px;
}
.card-footer .footer-total {
    font-weight: 700;
    font-size: 1.5rem;
}
.card-footer .footer-extra {
    display: block;
    font-size: 0.9em;
    font-weight: normal;
}
.label-small {
    display: none !important;
}
@media (max-width: 768px) {
    .card {
        margin: 30px 0;
        padding: 15px 5px;
    }
    .articulo {
        padding: 20px 0;
    }
    .heading {
        display: none;
    }
    .list-group-item:nth-child(2) {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    .label-small {
        display: block !important;
    }
    .label-small p {
        text-align: left;
        color: #004a98;
        font-weight: 500;
        margin: 20px 0 0;
    }
    .content-small {
        align-items: start !important;
    }
    .content-small span {
        text-align: left;
    }
    img, .default-image {
        margin: 0;
    }
    .card-footer {
        padding: 2rem 1rem 1rem;
        text-align: left;
    }
}